<app-search></app-search>
<div class="container-fluid devices">

    <!-- TODO: move this to the actual search component-->
    <div class="form-group">
        <input type="text" [(ngModel)]="searchText" placeholder="Enter text to search">
    </div>
    
    <div *ngFor="let device of devices | appFilter: searchText">
        <a routerLink="/detail/{{device.id}}">
            <div class="d-flex flex-row alert alert-primary">
                <div class="px-2 pt-2"><fa-icon [icon]="faMobileAlt" size="2x"></fa-icon></div>
                <div class="px-2">
                    <div>{{device.name}} {{device.id}}</div>
                    <div>{{device.status}}</div>
                </div>
                <div class="ms-auto px-2 pt-2"><fa-icon [icon]="faInfoCircle" size="lg"></fa-icon></div>
            </div>
        </a>
        
    </div>
</div>