<div class="flex-gap" *ngIf="device.relatedDevices.length > 0">
    <div *ngFor="let relatedDevice of device.relatedDevices">
        <div routerLink="/detail/{{device.id}}">
            <div class="d-flex flex-row grey-background">
                
                <div class="p-2 item">
                    <span *ngIf="relatedDevice.deviceTypeId === 1">
                        <fa-icon [icon]="faMobileAlt" size="2x" transform="grow-6 down-3 right-4"></fa-icon>
                    </span>
                    <span *ngIf="relatedDevice.deviceTypeId === 2">
                        <fa-icon [icon]="faTabletAlt" size="2x" transform="down-3 right-2"></fa-icon>
                    </span>
                    <span *ngIf="relatedDevice.deviceTypeId === 3">
                        <fa-icon [icon]="faDesktop" size="2x" transform="down-3 "></fa-icon>
                    </span>
                </div>
                <div class="p-2">
                    <div>{{relatedDevice.name}}</div>
                    <div>Status: {{relatedDevice.deviceStatusName}}</div>
                </div>
                <div class="ms-auto p-2"><fa-icon [icon]="faInfoCircle" size="lg"></fa-icon></div>
            </div>
    </div>  
</div>