<div class="container-fluid devices">
    <app-search></app-search> 
    <div *ngIf="device">
        <div class="d-flex flex-row flex-wrap">
            <div class="p-2 flex-fill ">
                <div class="d-flex flex-row grey-background"><h2>Related Devices</h2></div>
                <app-related-devices></app-related-devices>
            </div>
            <br/>
            <div class="p-2 flex-fill">
                <div class="d-flex flex-row grey-background"><h2>Details: {{device.name}}</h2></div>
                <div>Status: {{device.deviceStatusName}}</div>
                <div>Temperature: {{device.temperature}} Celcius</div>
                <div>Usage:</div>
                <img src="../../assets/barchart.PNG"/>
            </div>
        </div>
    </div>    
</div>