<div *ngIf="device">
    <app-search></app-search>
    <div class="d-flex flex-row flex-wrap">
        <div class="p-2 flex-fill">
            <!-- <app-related-devices></app-related-devices> -->
            <app-device></app-device>
        </div>
        <div class="p-2 flex-fill">
            <h2>Details: {{device.name}}</h2>
            <div>Status: {{device.deviceStatus.name}}</div>
            <div>Temperature: {{device.temperature}} Celcius</div>
            <div>Usage:</div>
            <img src="../../assets/barchart.PNG"/>
        </div>
    </div>
</div>