<br/>
<div class="grey-background add-border search-container">
    <div class="">
        <div class="d-flex flex-row">
            <div class="p-2 flex-fill">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><fa-icon [icon]="faSearch"></fa-icon></span>
                        </div>
                        <input id="searchBox" type="text" [(ngModel)]="searchText"  
                            (ngModelChange)="onChange()" class="form-control" placeholder="Search">
                     </div>
                   </div>
            </div>
            <div class="p-2 align-self-center">
                <span class="">
                    <a (click)="onCancel()">Cancel</a>
                </span>
            </div>
        </div>
    </div>
</div>    
<br/>
